<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ver Libro</title>
</head>

<body>
  <h1>Detalles del Libro</h1>
  <p><strong>ISBN:</strong>
    <%= libro.isbn %>
  </p>
  <p><strong>Título:</strong>
    <%= libro.titulo %>
  </p>
  <p><strong>Autor:</strong>
    <%= libro.autor %>
  </p>

  <a href="/libros">Volver a la lista</a>
</body>

</html>