<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la marca</title>
</head>

<body>
    <h1>Detalles de la marca</h1>

    <div>
        <h2>
            <%= marca.name %>
        </h2>
        <p><strong>Cif:</strong> $<%= marca.cif %>
        </p>
        <p><strong>Nationality:</strong>
            <%= marca.nationality %>
        </p>
    </div>

    <a href="/products">Volver a la página principal</a>
</body>

</html>